<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">Son Duyurular</h3>
        <p class="heading-btm-w3ls">Ciftliklerimiz ve tarlalarımızdan son haberler asagıdadır.</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">TARIMSAL BUYUMEDE SON GELISTIRMELER</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Tarımsal...</a><span>16/11/2016</span>
                    <p class="para-w3-agileits">Son dönemde tarımsal büyüme alanında gerçekleşen gelişmeler, dijital tarım teknolojilerinin yaygınlaşmasıyla öne çıkıyor. Yenilikçi sensör sistemleri, veri analitiği ve yapay zeka uygulamaları sayesinde tarım süreçleri daha verimli hale geliyor.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Daha Fazlası...</a>

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">TARIM ENDUSTIRISINI GELISTIRMEYE DEVAM ETME
                <h6><a href="#" data-toggle="modal" data-target="#myModal3"></a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">Endustri...</a><span>12/10/2016</span>
                    <p class="para-w3-agileits">Araştırma ve inovasyon yoluyla geliştirilen yeni tohum çeşitleri, hastalıklara dayanıklı bitkiler ve verimli tarım yöntemleri, dünya genelinde gıda güvencesini sağlamada kritik bir rol oynar.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Daha Fazlası...</a>

            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3"></a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4"></a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6><a href="#" data-toggle="modal" data-target="#myModal4"> TARIM SIRKETLERI PAZARINDA ILK ADIMLARIMIZ</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>06/8/2016</span>
                    <p class="para-w3-agileits">Tarım şirketleri pazarına giriş yaparken atacağımız ilk adımlar, stratejik planlama ve doğru yaklaşımı belirleme sürecini içermelidir. İşte tarım şirketleri pazarında ilk adımlarımız hakkında birkaç önemli nokta.</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Daha Fazlası</a>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b1.jpg" alt=" " class="img-responsive">
                <h5>TARIMSAL BUYUMEDE SON GELISTIRMELER</h5>
                <p>Son dönemde tarımsal büyüme alanında gerçekleşen gelişmeler, dijital tarım teknolojilerinin yaygınlaşmasıyla öne çıkıyor. Yenilikçi sensör sistemleri, veri analitiği ve yapay zeka uygulamaları sayesinde tarım süreçleri daha verimli hale geliyor.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b2.jpg" alt=" " class="img-responsive">
                <h5>TARIM ENDUSTIRISINI GELISTIRMEYE DEVAM ETME</h5>
                <p>Araştırma ve inovasyon yoluyla geliştirilen yeni tohum çeşitleri, hastalıklara dayanıklı bitkiler ve verimli tarım yöntemleri, dünya genelinde gıda güvencesini sağlamada kritik bir rol oynar.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>In Harvest</h4>
                <img src="~/web/images/b3.jpg" alt=" " class="img-responsive">
                <h5>TARIM SIRKETLERI PAZARINDA ILK ADIMLARIMIZ</h5>
                <p>Son dönemde tarımsal büyüme alanında gerçekleşen gelişmeler, dijital tarım teknolojilerinin yaygınlaşmasıyla öne çıkıyor. Yenilikçi sensör sistemleri, veri analitiği ve yapay zeka uygulamaları sayesinde tarım süreçleri daha verimli hale geliyor.</p>
            </div>
        </div>
    </div>
</div>