@using EntityLayer.Concrete
@model List<Image>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <h4 class="card-title">Görsel Listesi</h4>
    <p class="card-description">
    </p>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Başlık</th>
                    <th>Sil</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model){
                <tr>
                    <td class="py-1"><img src="@item.ImageUrl" alt="image" /></td>
                    <td>@item.Title</td>
                        <td><a href="/Image/DeleteImage/@item.ImageID" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Image/EditImage/@item.ImageID" class="btn btn-outline-success">Güncelle</a></td>
                </tr>
                }
            </tbody>
        </table>
        </br>
        <a href="/Image/AddImage/" class="btn btn-outline-info">Yeni Görsel Girişi</a>
    </div>
</div>



